<turbo-stream action='prepend' target='all-posts'>
  <template>
    <li>
      <%= link_to @post.title, @post %>
      <span><%= link_to 'edit', edit_post_path(@post) %></span>
    </li>
  </template>
</turbo-stream>
