<h1>Hello world!</h1>

<%= turbo_frame_tag :posts do %>
<ul id='all-posts'>
  <%= render(partial: 'post', collection: @posts) || 'There are no posts to display!' %>
</ul>
<% end %>

<turbo-frame src='posts/new' id='new-post'></turbo-frame>
