<h1>Hello world!</h1>

<%= turbo_frame_tag :posts do %>
<ul id='all-posts'>
  <% @posts.each do |post| %>
    <li>
    <%= link_to post.title, post %>
    <span><%= link_to 'edit', edit_post_path(post) %></span>
    </li>
  <% end %>
</ul>
<% end %>

<turbo-frame src='posts/new' id='new-post'>
</turbo-frame>
